---
apiVersion: v1
kind: List
items:
- apiVersion: v1
  kind: Service
  metadata:
    name: {{ app }}{{ version_dashed }}-svc
    labels: 
      app: {{ app }}{{ version_dashed }}
  spec:
    type: NodePort
    ports:
      - name: {{ app }}
        port: {{ pg_port }}
    selector: 
      app: {{ app }}{{ version_dashed }}
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: {{ app }}{{ version_dashed }}-dply
  spec:
    selector:
      matchLabels:
        app: {{ app }}{{ version_dashed }}
    template:
      metadata:
        labels:
          app: {{ app }}{{ version_dashed }}
      spec:
        containers:
          - name: {{ app }}{{ version_dashed }}
            image: {{ app }}:{{ version }}
            ports:
              - containerPort: {{ pg_port }}
                name: {{ app }}
                protocol: TCP
            envFrom:
              - configMapRef:
                  name: {{ app }}-config
