---
apiVersion: v1
kind: List
items:
- apiVersion: v1
  kind: Service
  metadata:
    name: {{ component }}{{ version }}-svc
    labels: 
      app: {{ component }}{{ version }}
  spec:
    type: NodePort
    ports:
      - name: {{ component }}
        port: {{ port }}
    selector: 
      app: {{ component }}{{ version }}
- apiVersion: extensions/v1beta1
  kind: Deployment
  metadata:
    name: {{ component }}{{ version }}-dply
  spec:
    template:
      metadata:
        labels:
          app: {{ component }}{{ version }}
      spec:
        containers:
          - name: {{ component }}{{ version }}
            image: {{ component }}:{{ version }}
            ports:
              - containerPort: {{ port }}
                name: {{ component }}
                protocol: TCP
            envFrom:
              - configMapRef:
                  name: {{ component }}-config
